<div class="page-wrapper compact-wrapper" id="pageWrapper">
 <!-- Page Header Start-->
<div class="page-main-header">
    <div class="main-header-right row m-0">
        <div class="main-header-left">
                <div class="logo-wrapper"><a asp-controller="Expenses" asp-action="Index"><img class="img-fluid" src="~/assets/images/logo/logo.png" alt=""></a></div>
                <div class="dark-logo-wrapper"><a asp-controller="Expenses" asp-action="Index"><img class="img-fluid" src="~/assets/images/logo/dark-logo.png" alt=""></a></div>
        </div>
        <div class="nav-right col pull-right right-menu p-0">
            <ul class="nav-menus">
                <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize"></i></a></li>
            </ul>
        </div>
        <div class="d-lg-none mobile-toggle pull-right w-auto"><i data-feather="more-horizontal"></i></div>
    </div>
</div>
    <!-- Page Header Ends -->
    <div class="page-body-wrapper sidebar-icon">
        <!-- Page Sidebar Start-->
        <header class="main-nav">
            <vc:user></vc:user>
            <nav>
                <div class="main-navbar">
                    <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                    <div id="mainnav">
                        <ul class="nav-menu custom-scrollbar">
                            <li class="back-btn">
                                <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                            </li>
                            <li class="sidebar-main-title">
                                <div>
                                    <h6>Главная</h6>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="bar-chart"></i><span>Расходы</span></a>
                                <ul class="nav-submenu menu-content">
                                    <li><a asp-controller="Expenses" asp-action="Index">Список</a></li>
                                    <li><a asp-controller="Categories" asp-action="Index">Категории</a></li>
                                    <li><a asp-controller="Expenses" asp-action="MonthlyExpenses">График</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
                </div>
            </nav>
        </header>
        <!-- Page Sidebar Ends-->
    </div>
</div>